@import url('blocks/button.css');

/* Внутренние отступы */
ul[class], ol[class] {
  padding: 0;
}

/* Внешние отступы */
body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

/* font-family: 'Manrope', sans-serif;*/

body {
    background-color: #f7f7f8;
}

.registration-content {
    /* padding: 100px 40px; */
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    align-items: center;
    width: 510px;
    border-radius: 10px;
    background-color: #fff;
}

.link {
    margin-bottom: 50px;
    margin-top: 35px;
    display: block;
    text-decoration: none;
    color: #7f7f7f;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    transition: 0.2s ease-in;
}

.link:hover {
    color: #0066fb;
}